#modal-button {
  position: relative;
}
#modal-button::before {
  content: '';
  position: absolute;
  top: -5rem;
  bottom: -5rem;
  right: -5rem;
  left: -5rem;
}
.modal-example {
  height: 120rem;
  background-color: blue;
  overflow: scroll;
}
.placeholder {
  height: 20rem;
}
.fixed-scroll {
  position: fixed;
  margin-top: 5.3rem;
  width: 100%;
}

