#modal-button {
  position: relative;
}
#modal-button::before {
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  right: -50px;
  left: -50px;
}
.modal-example {
  height: 1200px;
  background-color: blue;
  overflow: scroll;
}
.placeholder {
  height: 400px;
}
.fixed-scroll {
  position: fixed;
  width: 100%;
}

